.campaignList {
    max-width: 800px;
    margin: 4rem auto;
    padding: 3rem;
    background: #f9f9f9fc; 
    border-radius: 30px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
    color: #2c2c44; 
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    position:sticky;
    animation: fadeIn 1s ease-in-out;

  

    .successMessage {
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 5px;
        background-color: #155724;
        border-color: #155724;
        color: #ffffff;
        transition: opacity 0.5s ease-in-out;
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        animation: fadeInOut 3s forwards;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    @keyframes fadeInOut {
        0%, 100% { opacity: 0; }
        10%, 90% { opacity: 1; }
    }
    

    .searchInput {
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
        border: 1px solid #ccc;
        border-radius: 20px;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
        outline: none;
        font-size: 1rem;

        &:focus {
            border-color: #007bff;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
        }
    }

    .listContainer {
        .campaignItem {
            background-color: #f9f9f9;
            border: 1px solid #eaeaea;
            border-radius: 10px;
            padding: 1.5rem;
            margin-bottom: 1rem;
            transition: background-color 0.3s, box-shadow 0.3s;
            position: relative; 


            &:hover {
                background-color: #ffffff;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
            }

            h3 {
                color: #2c2c44;
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
            

            .campaignActions {
                display: flex;
                justify-content: flex-start;
                gap: 1rem;
                position: absolute;
                top: 2rem;
                right: 1rem; 

                button {
                    padding: 0.5rem 1rem;
                    border: none;
                    border-radius: 5px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: background-color 0.2s, box-shadow 0.2s;
                    text-align: center;

                    &:first-child {
                        background-color: #f44336;
                        color: white;
                    }

                    &:last-child {
                        background-color: #4caf50;
                        color: white;
                    }

                    &:hover {
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .campaignList{

        .searchInput,
        .campaignItem {
            padding: 0.5rem;
        }

        .campaignActions button {
            padding: 0.3rem 0.6rem;
            font-size: 0.9rem;
        }
    }
}
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-10rem);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
