.modalContent {
  max-width: 800px;
  margin: 2rem auto;
  padding: 3rem;
  background: #f9f9f9fc;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  color: #2c2c44; 
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  position: sticky;


.campaignForm {
  .formHeader, .formFooter {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .formControl {
    width: 100%;
    padding: 1.4rem;
    border: 2px solid #f0f0f000;
    border-radius: 18px;
    background-color: #ffffff67;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;


    &:focus {
      border-color: #007bff;
      box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
    }
  }

  .formBody {
    textarea {
      min-height: 200px;
      border-radius: 18px;
    }
  }

  .formFooter {
    align-items: center;
    gap: 1.2rem;

    .pointStepper {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        padding: 0.6rem;
        background-color: #2d2c45;
        color: #fff;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        font-size: 1.5rem;
        margin: 0 1.5rem;
        box-shadow: 0 3px 6px rgba(0, 123, 255, 0.4);

        &:hover, &:focus {
          background-color: lighten(#2d2c45, 7%);
          box-shadow: 0 5px 10px rgba(2, 42, 84, 0.5);
        }

        &:active {
          box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
        }
      }

      input[type="text"] {
        width: 70px;
        font-size: 3rem;
        background-color: #e7e7e7;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .submitButton {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #2d2c45;
    border-radius: 30px;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    justify-content: center;
    gap: 8px;

    &:hover {
      background-color: #495057;
    }
  }
}

.closeButton {
  background: none;
  border: none;
  font-size:3rem;
  cursor: pointer;
}
}