.loginForm {
  max-width: 350px;
  margin: 150px auto;
  padding: 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.46);
  animation: fadeIn 1s ease-in-out;
  font-family: 'Open Sans', sans-serif;
  backdrop-filter: blur(10px) ;
  border-radius: 9px;


  .legend {
    background: #353f55; 
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
    border-radius: 9px;
  

    
    
  }
  .inputContainer {
    position: relative;
    margin-bottom: 2rem;
    
    label, input {
      width: 100%;
      margin-bottom: 10px;
    }

    input {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .errorMessage {
      position: absolute;
      top: 100%; 
      left: 0;
      background: #ffdddd; 
      color: #d8000c; 
      padding: 5px 10px;
      font-size: 0.75rem;
      border-radius: 4px;
      animation: shake 0.3s ease-in-out;
      border: 1px solid #d8000c; 
      z-index: 10;
    
      &.show {
        display: block;
      }
    }
  }
  .toastMessage {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    top: -50px;
    z-index: 1000;
    background-color: #d8000c;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 0.9rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
  }
  
  .toastMessage.show {
    visibility: visible;
    opacity: 1;
  }
  
  

  .submitContainer {
    margin-top: 1.5rem;
    text-align: center;

    .submitButton {
     
      border: none;
      border-radius: 50%;
      background-color: #353f55;
      color: white;
      height: 70px;
      width: 70px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.5s, transform 1s, opacity 1s ease, transform 1s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.222);
      }

  
      &.success {
        background-color: #28a745; 
      }
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-10rem); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

@media (max-width: 600px) {
  .loginForm {
    margin: 150px auto;
    padding: 2rem;
  }
}
